@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;

  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .column-drag-over {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .task-dragging {
    opacity: 0.6;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}